include README.md LICENSE CITATION.cff
recursive-include tests *.py *.toml *.csv *.pickle *.rst *.txt *.log
recursive-include docs *.rst *.py *.png
recursive-include examples *.py *.md
prune legacy
prune docs/_build
prune docs/source/manual/generated
global-exclude .DS_Store
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.so
